extends ../index

block section
	.panel
		h1 Hello!
		p Welcome to Alterfutura, #{username}.
		small You are not #{username}? <a href="/logout">Get the heck out!</a>
		
	.row
		each val in section
			.col-xs-6.col-sm-4.col-md-3.col-lg-2
				a(href="#{val.link}")
					.thumbnail
						img(src="#{val.image}")
						.caption
							small #{val.name}